body{
    font-family: 'Segoe UI Light' , arial;
    
}



/* header home */

.banner {
    background-image: url(images/banner.jpg);
    height: 700px;
}


.banner a{
    color: white;
    
}

.banner a:hover {
    border: 1px solid white;
    border-radius: 4px;
    color: green;
}

.banner h1{
    color: white;
    margin-top: 60px;
    margin-bottom: 130px;
}

.banner p{
    color: white;
}

.banner .color{
    color: #00A652;
    
}

.banner .btn {
    padding: 10px 0px;
    
}

.banner .banner-bar {
    font-size: 18px;
    
}

.banner .btn-default{
    color: #00A652;
    background-color: #fff;
    border-color: #00A652;
    width: 50%;
    font-size: 18px;
}

.banner .btn-default:hover{
    color: #fff;
    background-color: #00A652;
    border-color: #00A652;
    
}




/* header home End */



/* log in Modal */ 


/****** LOGIN MODAL ******/

.banner h2{
    color: #00a652;
}

.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: 'Segoe UI Light';
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #00a652;
  padding: 17px 0px;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#00a652), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #00a652;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#00a652), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}

/* log in End */ 





/* How it Works */

.how-works h2 {
   
    border: 1px solid #000;
}

/* How it Works End */







/* Header menu */

html,body {
	margin:0;
	padding:0;
}

header {
    background-color:black;
	overflow:hidden;
	padding:2%;
}

		
nav {
	float:right;
	padding-top:29px;
    padding-bottom: 20px;
}

.navitem {
	color:#00A652;
	font-size:16px;
	margin-left:5px;
	text-decoration:none;
	font-weight:bold;
	padding:8px;
}

.navitem:first-child {
	margin-left:0px;
}

.navitem:hover {
	color:#999;
}

#smartbutton {
	float:right;
	width: 32px;
	height: 30px;
	cursor:pointer;
	padding: 5px;
	border:1px solid #999;
	border-radius:6px;
	margin-top: 0px;
	display:none;
}

.buttonline {
	background-color:#999;
	height:3px;
	margin-top:4px;
}

.buttonline:first-child {
	margin-top:0px;
}

/* standard menu */
@media only screen and (min-width:551px) 
{
	#smartbutton {
		display:none;
	}

	nav {
		display:inline-block !important;
	}
}

/* smart menu */
@media only screen and (max-width:550px) 
{
	#smartbutton {
		display:inline-block;
	}

	nav {
		display:none;
		width:100%;
		position:relative;
		top:5px;
	}
	
	.navitem {
		border-top:1px solid #999;
		display:block;
		margin:0px;
	}
	
	.navitem:hover {
		background-color:#333;
	}
}



/* Header menu End */






/* Menu Responsive */ 


.nav_h h2{
    margin-bottom: 3%;
}








.mar-bot{
    margin-bottom: 2%;
    padding-bottom: 100px;
}







/* Create resume education */




.form_resume{
    color:#00A652;
    
}


.header{
    border-bottom: 1px solid #000;
    
}

.logo{
    margin-top: 12px;
    margin-bottom: 10px;
}


.resume_edu .login button{
    font-size: 16px;
    margin-top: 20px;
    
}



.resume_edu .login .btn-default{
    color: #00A652;
    background-color: #fff;
    border-color: #00A652;
    
}

.resume_edu .login .btn-default:hover{
    color: #fff;
    background-color: #00A652;
    border-color: #00A652;
    
}



.form1 .btn{
    margin-bottom: 40px;
    padding: 9px 35px;
    
}

.form1 h4{
    font-size: 36px;
    
    
}

.fit{
    
    width: 100%;
}



textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {   
  border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}


.form-control:focus{
    border-color: rgba(126, 239, 104, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
  outline: 0 none;
}


/* Create resume education End*/

/* Avatar */


/* Avatar End */ 


